<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Hello World!</title>
    <link rel="stylesheet" href="../../../../index.css" />
    <link rel="stylesheet" href="../../../../../dist/output.css" />
</head>
<body class=" bg-slate-200" id="body">
<div id="navbar" class="  flex flex-row bg-black w-screen h-10 justify-evenly pt-1">
    <a href="./Bookinfo.html" class=" text-white w-16 text-center rounded-lg h-8 pt-1 bg-red-600">Back</a>
    <div class=" flex flex-row gap-x-2">
    <button class=" w-28 h-8 bg-black text-white text-center" id="dark">DARK</button>
    <button class=" w-28 h-8 bg-white text-black text-center" id="light">LIGHT</button>
    </div>
</div>
<div id="Book" class=" text-black pt-4 pl-6">
    <div class="BookCover">
        <p class=" text-5xl text-center"> HELLO WORLD </p>
        <p class=" text-lg text-center">Rangerdevv</p>
        <img>
    </div>
    <div id="Chapter1">
        <p class="text-3xl">Chapter 1</p>
        <p class="text-lg">The first</p>
        <p class="text-md whitespace-pre-line"> This is a test book on Open Library.
    </p>
    </div>
    <div id="Chapter2">
        <p class="text-3xl">Chapter 2</p>
        <p class="text-lg">The second</p>
        <p class="text-md whitespace-pre-line">This is a test book about Open Library.</p>
    </div>
    <div id="Chapter3">
        <p class="text-3xl">Chapter 3</p>
        <p class="text-lg">The third</p>
        <p class="text-md whitespace-pre-line">This is a test book about Open Library.</p>
    </div>
</body>
<script>
    let dark = document.getElementById("dark");
    let light = document.getElementById("light");
    let Book = document.getElementById("Book");
    window.onload = function() {
        // make the window fullscreen
        window.moveTo(0, 0);
        window.resizeTo(screen.width, screen.height);
    };
    dark.onclick = function() {
        document.body.classList.add("bg-slate-900");
        document.body.classList.remove("bg-slate-200");
        Book.classList.add("text-white");
        Book.classList.remove("text-black");
    };
    light.onclick = function() {
        document.body.classList.add("bg-slate-200");
        document.body.classList.remove("bg-slate-900");
        Book.classList.add("text-black");
        Book.classList.remove("text-white");
    };
</script>
</html>
